#webcam-output, #camera-select{
    display: block;
    margin: auto;
}

#close-stream{
    display: block;
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
}

.note{
    text-align: center;
    margin: 0 5em;
}
